body {
    margin-bottom: 10%;
}

.review_h1 {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #45342e;
}

/* bar */
.bar {
    background-color: #f0f0f0;
    height: 285px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.left, .center, .right {
    float: left;
    margin: 35px 1%;
}

.left {
    margin-left: 5%;
}

.left, .right {
    padding: 10px;
}

.right p {
    text-align: right;
}

.left p, .right p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 7px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    color: #45342e;
}

.bar_container {
    background-color: #ffffff;
    height: 20px;
    width: 600px;
}

.bar_n {
    height: 100%;
    margin-top: 20px;
}

#bar_1 {background-color: #55371B; width: 79%;}
#bar_2 {background-color: #B58D29; width: 35%;}
#bar_3 {background-color: #D3BAA2; width: 16%;}
#bar_4 {background-color: #e8dfc6; width: 12%;}
#bar_5 {background-color: #92AED9; width: 18%;}

/* comment */
.comment {
    color: #5b453d;
}

/* user */
.user_n_outer {
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 250px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.user_n_inner {
    margin: auto;
    width: 640px;
    height: 100%;
}

.comment_left {
    float: left;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.comment_left img {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment_right {
    float: left;
    height: 80px;
    width: 500px;
    padding: 10px 20px;
    margin-top: 10px;
}

.comment_right h1 {
    margin-bottom: 10px;
    font-family: monospace;
}

.comment_right #star {
    margin-bottom: 10px;
    font-size: 20px;
}

.checked {
    color: rgba(255, 190, 70, 0.8);
}

.unchecked {
    color: rgba(76, 21, 21, 0.5);
}

.comment_bottom {
    padding-left: 100px;
    padding-right: 30px;
}

.comment_bottom p {
    text-align: center;
    font-family: monospace;
    font-size: 13px;
}