main {
    height: 100px;
}

video {
    width: 60%;
    height: fit-content;
}

video source {
    width: 100%;
}

.about-text {
    width: 40%;
    height: 480.5%;
    /* background-color: gray; */
}

.about-text h1 {
    /* background-color: blue; */
    color: #45342eae;
    font-family: fantasy;
    font-size: 50px;
    margin: 40px 0 0 40px;
    padding-top: 40px;
    width: 79%;
}

.about-text p {
    /* background-color: green; */
    position: absolute;
    margin: 10px 40px 60px 40px;
    color: #45342eae;
    font-family: monospace;
    font-size: 15px;
}